@font-face {
  font-family: "bebaskai";
  src: url(../media/fonts/BebasKai.woff2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #a3fda1;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #925ff0;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

h1 {
  color: white;
  font-family: bebaskai;
  font-size: 4rem;
  filter: drop-shadow(1px 1px 2px #000000);
}

h2 {
  color: white;
  font-family: helvetica;
  font-size: 3rem;
  filter: drop-shadow(1px 1px 2px #000000);
}

h3 {
  color: white;
  font-family: helvetica;
  font-size: 2rem;
  filter: drop-shadow(1px 1px 2px #000000);
}

h5 {
  color: white;
  font-family: helvetica;
  font-size: 1.8rem;
  filter: drop-shadow(1px 1px 2px #000000);
}

p {
  color: white;
  font-family: helvetica;
  font-size: 1rem;
  filter: drop-shadow(1px 1px 2px #000000);

}

::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
  height: 8px;
  background-color: #575757;
}

::-webkit-scrollbar-thumb {
  background: #292929;
}

html {
  scroll-behavior: smooth;
}

body {
  /*   height: 100vh; */
  background-image: url(../media/background.svg);
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(2px);
}

div.separador {
  height: 6rem;
  background-color: rgba(162, 253, 161, 0);
}

.language-selector {
  display: flex;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 91;
  align-items: center;
}

.language-selector img {
  width: 2rem;
  margin: 0 1rem;
}

.language-selector .check {
  position: relative;
  bottom: 5px;
  width: 50px;
}

.language-selector .check::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background: #925ff0;
  border-radius: 25px;
}

.language-selector .check::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 25px;
  transition: 0.25s ease-in-out;
  border: 2px solid #0b0b0b;
  box-sizing: border-box;
}

.language-selector .check:checked::after {
  left: 25px;
  border: 2px solid #0b0b0b;
}

.language-selector .check:checked::before {
  background: #a3fda1;
}

.centrado {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 100;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #292929;
}

.navbar {
  display: flex;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 3.5rem;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 90;
}

.navbar .espaciador {
  width: 2rem;
  margin: 0 3rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar ul li a {
  width: auto;
  margin: 2rem;
  padding: 1rem;
  font-family: bebaskai;
  font-size: 1.7rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 100ms all ease-in-out;
}

.navbar ul li :hover {
  color: #292929;
  background-color: #a3fda1;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.titulo .foto_personal {
  width: 20rem;
  filter: drop-shadow(10px 10px 5px #925ff0);
}

.titulo .iconos_curso {
  display: flex;
  flex-direction: row;
}

.titulo .iconos_curso img {
  width: 3rem;
  margin: 1.5rem 1rem 0 1rem;
  filter: drop-shadow(1px 1px 2px #000000);
}

.biografia {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.biografia p {
  text-shadow: 1px 1px 2px #292929;
  margin-top: 2em;
  width: 100%;
  padding: 1rem 2rem;
  text-align: justify;
}

.seccion-proyectos {
  justify-content: center;
  text-align: center;
}

.seccion-proyectos .proyecto {
  margin: 5rem auto;
  width: 30%;
  background-color: #292929;
  border-radius: 2%;
  padding: 0.5rem;
  box-shadow: 5px 5px 5px 2px #925ff0;
}

.seccion-proyectos .proyecto .imagen-proyecto {
  width: 100%;
  border-radius: 2%;
}

.seccion-proyectos .proyecto .info-proyecto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.seccion-proyectos .proyecto .info-proyecto h5 {
  margin: 1rem 0;
}

.seccion-proyectos .proyecto .info-proyecto a .boton {
  font-size: 1.2rem;
  margin: 0.2rem;
  font-family: bebaskai;
  background-color: #a3fda1;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2.5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 120ms all ease-in-out;
}

.seccion-proyectos .proyecto .info-proyecto a :hover {
  box-shadow: 0 0 5px 3px #925ff0;
}

.boton-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-contacto a button {
  font-size: 5rem;
  font-family: bebaskai;
  background-color: #0b0b0b;
  box-shadow: 0px 0px 10px 2px #925ff0;
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 120ms all ease-in-out;
}

.boton-contacto a :hover {
  box-shadow: 0 0 10px 5px #925ff0;
}

h2 {
  margin: 2rem auto;
  text-align: center;
}

.informacion-contacto {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 5rem auto;
}

.informacion-contacto .formulario {
  font-family: bebaskai;
  width: 100%;
}

.informacion-contacto .formulario .formulario-registro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 7px 7px 10px 1px #925ff0;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 0.5rem 0;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo label {
  font-size: 1.5rem;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo label span {
  font-family: helvetica;
  font-size: 0.8rem;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo input {
  height: 3rem;
  border-radius: 10px;
  background-color: #292929;
  border: none;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo input::placeholder {
  padding: 1rem;
  color: rgb(204, 204, 204);
  font-family: bebaskai;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo .input__mensaje {
  min-height: 8rem;
  border-radius: 10px;
  border: none;
  background-color: #292929;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo .input__mensaje::placeholder {
  padding: 1rem;
  color: rgb(204, 204, 204);
  font-family: bebaskai;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo .boton {
  font-size: 1.2rem;
  margin: 0.2rem;
  font-family: bebaskai;
  background-color: #a3fda1;
  box-shadow: 0px 0px 10px 2px #925ff0;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2.5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 120ms all ease-in-out;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo p {
  font-family: bebaskai;
  font-size: 1.1rem;
  margin: auto;
  text-align: left;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo .iconos-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.informacion-contacto .formulario .formulario-registro .formulario__grupo .iconos-redes img {
  width: 3rem;
  margin: 0 1rem;
  filter: drop-shadow(5px 5px 5px #925ff0);
}

.hidden {
  overflow: hidden;
}

.oculto {
  display: none !important;
}


.botonIdioma {
  background-color: rgba(245, 222, 179, 0);
  border-radius: 100px;
  border-color: #0b0b0b00;
}

.imagenBotonIdioma:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 0.5px #925ff0);
}

/*# sourceMappingURL=style.css.map */